allow servicemanager tcmd:dir r_dir_perms;
allow servicemanager tcmd:file r_file_perms;
allow servicemanager tcmd:process getattr;
allow servicemanager qseeopt:dir r_dir_perms;
allow servicemanager qseeopt:file r_file_perms;
allow servicemanager qseeopt:process getattr;
allow servicemanager qseecomopt:dir r_dir_perms;
allow servicemanager qseecomopt:file r_file_perms;
allow servicemanager qseecomopt:process getattr;
